{{- define "main" -}}

<article class="article" itemscope itemtype="http://schema.org/Article">

  {{ partial "page_header.html" . }}

  <div class="article-container">

    <div class="article-style" itemprop="articleBody">
      {{ .Content }}
    </div>

    {{ partial "tags.html" . }}

    {{ if ne .Type "page" }}
      {{ partial "page_author.html" . }}
      {{ $related := site.RegularPages.Related . | first 5 }}
      {{ with $related }}
      <div class="article-widget">
        <div class="hr-light"></div>
        <h3>{{ i18n "related" }}</h3>
        <ul>
          {{ range . }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    {{ end }}

    {{ if site.Params.section_pager }}
    <div class="article-widget">
      {{ partial "section_pager.html" . }}
    </div>
    {{ end }}

    {{ if .Params.toc }}
    <div class="d-none d-xl-block col-xl-2 docs-toc">
      <ul class="nav toc-top">
        <li><a href="#" id="back_to_top" class="docs-toc-title">{{ i18n "on_this_page" }}</a></li>
      </ul>

      {{ .TableOfContents }}

      {{ partial "docs_toc_foot.html" . }}
    </div>
    {{ end }}

<iframe src="{{ .Site.BaseURL | absLangURL }}/donate/" style="overflow-x:hidden;overflow-y:hidden; border:0xp none #fff; min-height:240px; width:100%;"  frameborder="0" scrolling="no" allowtransparency=“true”></iframe>
   <!--{{ partial "donate.html" . }} -->
   {{ partial "comments.html" . }}

  </div>
</article>

{{- end -}}
